html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background: #F1F4F6;
    font-size: 15px;
    line-height: 1.8;
    user-select: none;
}

input[type=radio], input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin: 0 0 0 5px;
    border-color: #cfd0d2;
    position: relative;
    bottom: -4px;
}

select {
    min-width: 100px;
    max-width: 360px;
    height: 30px;
    padding: 3px;
    margin: 0 0 0 5px;
    font-size: 15px;
    border: 1px solid #cfd0d2;
    border-radius: 4px;
}

.fx:after {
    display: block;
    content: '';
    clear: both;
}

.box {
    margin-bottom: 10px;
    width: 450px;
}

.box span {
    margin-left: 10px;
    font-size: 14px;
    color: #bbb;
}

.mt_1 {
    margin-top: 10px;
}

.mt_2 {
    margin-top: 20px;
}

.dmx_button {
    background: #4395ff;
    border: 1px solid #3589ff;
    border-radius: 4px;
    color: #fff;
    line-height: 1;
    padding: 8px 12px;
    font-size: 14px;
    letter-spacing: 5px;
    white-space: nowrap;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    opacity: .9;
    transition: .1s;
}

.dmx_button:hover {
    opacity: 1;
    box-shadow: 2px 2px 5px 0 #b0b6bc;
}

.dmx_button:active {
    opacity: .7;
}

.dmx_button_default {
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
}

.dmx_button_success {
    background-color: #67c23a;
    border-color: #67c23a;
    color: #fff;
}

.dmx_button_warning {
    background-color: #e6a23c;
    border-color: #e6a23c;
    color: #fff;
}

.dmx_button_danger {
    background-color: #ef473a;
    border-color: #dd1419;
    color: #fff;
}

.dmx_inline {
    display: inline-block;
}
